{% extends 'base.html.twig' %}

{% block headTitle %}
    <h1>
<img src="{{ asset('img/logo.png') }}" alt="logo en forme de bucket">
    Bucket-List</h1>
{% endblock %}

{% block title %}
Bucket-List
{% endblock %}
{% block main %}
    <h2>Ceci est la page d'accueil !</h2>
{% endblock %}





