{% extends "base.html.twig" %}

{% block headTitle %}
    <h1>Ma liste de souhait</h1>
{% endblock %}

{% block main %}
    <div>
        <ul>
            <li>todo: ici s'affichera une liste de souhait</li>
        </ul>
    </div>

{% endblock %}


