{% extends "base.html.twig" %}

{% block headTitle %}
    <h1>Ma liste de souhait</h1>
{% endblock %}

{% block main %}
{% for w in wish %}
    <div>
        <ul>
            <li><h2><a href="{{ path("wish_detail", {id:w.id}) }}">{{ w.title }}</h2></li>
        </ul>
    </div>
{% endfor %}


{% endblock %}


