{% extends '../base.html.twig' %}

{% block headTitle %}

{% endblock %}

{% block main %}
    <div>
        <ul>
                <li><h2>{{ w.title }}</h2></li>
                <li><h4><em>{{ w.author }}</em></h4></li>
                <li><p>{{ w.description }}</p></li>
                <li><p>{{ w.dateCreated }}</p></li>
        </ul>
    </div>
{% endblock %}

